.App {
  text-align: end;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.storeCard {
  width: 320px;
  height: 415px;
  margin-bottom: 12px;
  text-align: center;
}

.storeLogo {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  text-align: center;
}

.storeList {
  margin-bottom: 6px;
}

.card {
  display: block !important;
}

.button {
  margin-top: 10px;
  margin-right: 10px;
}

.sidebar {
  text-align: start;
  padding-right: 20px;
  padding-left: 10px;
}

.createAccount {
  text-align: center;
  margin-top: 90px;
}

.signin {
  margin-top: 90px;
}
